<div class="left_border">

	<ul>
		<% @channels.each do |channel| %>
			<li class="channel_element"><%= channel.name %></li>
		<% end %>
	</ul>

</div>

<div class="right_border">

	<% @channels.each do |channel| %>
		<p class="channel_element"><%= channel.name %></p>
	<% end %>


</div>