@import "bootstrap";

.header {
    background-color: #3c5998;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    height: 60px;
    line-height: 60px;
    top: 0px;
    width: 100%;

    h1 {
        font-size: 35px;
        padding-top: 7px;
        height: 60px;
        text-align: left;
        padding-left: 3%;
        color: white;
        font-family: "Lato";
        text-decoration: none;
        width: 50%;

        a {
            color: white;
            &:hover{
                text-decoration: none;
                color: white;
            }
        }
    }

    .right_top_button {
        right: 10px;
    }

    .right_top_button_2 {
        right: 137px;
    }

    .right_top_button_3 {
        right: 154px;
    }

    .right_top_button_4 {
        right: 282px;
    }

    .right_top_button, .right_top_button_2, .right_top_button_3, .right_top_button_4 {
        font-family: "Lato";
        color: #FFFFFF;
        height: 60px;
        top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        text-decoration: none;
        transition: all 0.4s;
        position: absolute;
    }

    .right_top_button:hover, .right_top_button_2:hover, .right_top_button_3:hover, .right_top_button_4:hover {
        background-color: #26295E;
    }

}

.left_border {
	position: absolute;
	width: 15%;
	height: calc(100vh - 60px);
	background-color: #fafafa;
}

.channel_element {
	height: 6vh;
	line-height: 7vh;
}


.right_border {
	position: absolute;
	text-align: center;
	right: 0px;
	width: 9%;
	height: calc(100vh - 60px);
	background-color: #fafafa;
}
